<div class="text-white bg-secondary bg-gradient font-weight-bold">
    <div class="d-flex justify-content-center title card-title pt-5">
        <h1>Ante Cualquier Duda, La Más Tetuda</h1>
    </div>
    <div class="d-flex justify-content-center description">
        <h6>Suspendisse Commodo Auctor Molestie Mauris Arisusv.
            <span style="text-align: center; display: block;">Massaconsequat Pharetra Suspendisse</span></h6>
    </div>
</div>
<div class="d-flex justify-content-center p-4 text-white bg-secondary bg-gradient font-weight-bold">
    <form [formGroup]="contactForm">
        <div class="form-row">
            <div class="col">
                <label class="control-label">Nombre</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <fa-icon icon="user"></fa-icon>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" required>
                </div>
            </div>
            <div class="col">
                <label class="control-label">Apellido</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <fa-icon icon="user"></fa-icon>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido" required>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label class="control-label">Correo Electrónico</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <fa-icon icon="envelope"></fa-icon>
                        </div>
                    </div>
                    <input type="email" class="form-control" placeholder="Email" formControlName="email" required>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label class="control-label">Teléfono</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <fa-icon icon="phone"></fa-icon>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Teléfono" formControlName="celular" required>
                </div>
            </div>
        </div>
        <div class="form-row pb-2">
            <div class="col">
                <label class="control-label">Mensaje</label>
                <textarea class="form-control" rows="3" formControlName="mensaje" required></textarea>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!contactForm.valid">Enviar</button>
    </form>
</div>