<ngb-carousel *ngIf="images">
  <ng-template *ngFor="let i of images; let j = index" ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://picsum.photos/id/{{i}}/900/500">
    </div>
    <div class="carousel-caption">
      <!-- <h3>Lorem Ipsum {{j}}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor porta volutpat. Nullam quis iaculis
        augue, vitae sodales massa. Vivamus iaculis est vel posuere sagittis. Vivamus velit diam, semper quis ultricies
        eu, rhoncus et lacus. Mauris dapibus enim eget dapibus pulvinar. Nulla aliquet nisl ipsum, eget lobortis erat
        pretium iaculis. Phasellus dignissim rutrum urna, in rhoncus felis egestas ornare. Vivamus faucibus eu ligula
        sit amet sollicitudin.</p> -->
    </div>
  </ng-template>
</ngb-carousel>