<div class="bg-image">
    <div class="d-flex justify-content-center title card-title pt-3">
        <h1>¿Quiénes somos?</h1>
    </div>
    <div class="d-flex justify-content-center description">
        <h6>Suspendisse Commodo Auctor Molestie Mauris Arisusv.
            <span style="text-align: center; display: block;">Massaconsequat Pharetra Suspendisse</span></h6>
    </div>
    <!-- CARDS -->
    <div class="row d-flex justify-content-center pt-3 pb-3">
        <div *ngFor="let i of cardsList; let j = index" class="col-sm-2.8 pr-4 mb-2">
            <div class="card text-center">
                <img class="card-img-top" src={{i.img}} alt={{i.desc}}>
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.desc}}</p>
                    <a class="btn btn-primary" (click)="open(j)">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>